
@font-face {
    font-family: 'RobotoCondensed';
    src: url('RobotoCondensed.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@keyframes animateText {
    from { opacity: 0; transform: translateY(20px); }  
    to { opacity: 1; transform: translateY(0); }   
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  @keyframes fadeIn {
    0%  {
        transform: translateX(0);
      }
    100% {
        transform: translateX(-25%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
  @keyframes fadeBottom {
    0%  {
        transform: translateY(100%);
      }
    100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        opacity: 1;
    }
}

@keyframes opacity-animation {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes background-animation {
    0%{
        background: linear-gradient(90deg, rgb(255, 140, 0, 125) 0%, transparent);
        color: #fff;
    }
    100%{
        background: linear-gradient(90deg, rgb(255, 140, 0) 50%, transparent);
        color: #000;
    }
}
  ​
  
  
head, body
{
    overflow: hidden;
    font-family: RobotoCondensed;
    background: black;
    min-height: 100vh;
    width: 100%;
}

.title{
    position: absolute;
    top: 30%;
    margin: auto;
    z-index: 100;
}

.boddy{
    font-family: "Inter", sans-serif;;
    font-weight: lighter;
    height: calc(100vh - 80px);
	margin: 0;
	background: #000;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-flow: row;
}

.proj1{
    height: 100%;
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-left: 5%;
    align-items: self-start;
    
}

.proj2{
    height: 100%;
    width: 40%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.side-image{
    /* border: solid red; */
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    height: 80%;
}


#project-image{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.side-image > span{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent ,  #000000);
    border-radius: 20px;

}

#description {
    opacity: 0;
    position: absolute;
    bottom: 30%;
    height: auto;
    line-height: 40px;
    font-size: 30px;
    padding-left: 40px;
    animation-iteration-count: 1;
    animation: 1s fadeBottom;
    animation-delay: 0.5s;
    font-family: RobotoCondensed;
    animation-fill-mode: forwards;
    color: rgb(208, 150, 23);
    transition: all;
}

#asso_skil{
    opacity: 0;
    position: absolute;
    bottom: 15%;
    height: auto;
    line-height: 40px;
    font-size: 18px;
    padding-left: 40px;
    animation-iteration-count: 1;
    animation: 1s fadeBottom;
    animation-delay: 0.5s;
    font-family: RobotoCondensed;
    animation-fill-mode: forwards;
    color: rgb(207, 211, 14);
    transition: all;
}

#s{
    color: white;
}


ul{
    float: right;
    list-style: none;
}


.mini{
    z-index: 1000;
    color: white;
    width: 50%;
    padding: 16px;
    height: auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-family: RobotoCondensed;
    transition: all;
    animation-delay: 75ms;
    animation-duration: 100ms;
    border-radius: 25px;
}
#f1{
    display: none;
}


.mini:hover > #f1{
    display: block;
    animation: opacity-animations linear 0.5s;
    color: white

    /* transition: all; */
}
.mini:hover{
    animation: background-animation linear 0.5s forwards;
    /* transition: all; */
}

li{
    float: left;
    padding: 15px;
    margin: 0px;
    font-size: 20px;
    user-select: none;
}
.background {
    width: 100%;
    height: 100%;
    position: relative; 
	overflow: hidden;
    background: linear-gradient(#000 , transparent, #000000), url("img/me.png") no-repeat center content-box;
    background-size: cover;
    display: flex;
    line-height: 0;
    translate: 25% 0;
    animation-iteration-count: 1;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    transition: all;
}


p {
    line-height: 1;
	text-align: justify;
	padding: .18vw;
	margin-top: 0;
	font-size: 1.76vw;
	color: #fff;
	background: #000;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
    opacity: 0.6;
    user-select: none;
}

.head a:hover {
    scale: 1.2;
    color:rgb(255, 140, 0);
    transition: all;
    animation-delay: 100ms;
    animation-duration: 100ms;
}


.c2{
    color: white;
    font-size: 40px;
}


.c3{
    color: rgb(255, 140, 0);
}

a{
    text-decoration: none;
}

.c{
    color: white;
}
